*{
    padding: 0px;
    margin: 0px;
}

header{
    padding: 0;
    height: 600px;
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat center fixed;
    box-sizing: border-box;
    position: relative;
    object-fit: contain;
}

.menu-bar{
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
    flex-wrap: wrap;
}


.menu-bar ul li{
    width: 120px;
    padding:15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: black;
}

.menu-bar ul li a:hover{
    color:blue;
}

.main-text{
    position: absolute;
    top: 50%;
    right: 0;
}

.description{
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-contact_us{
    color: white;
    background-color: rgb(8, 232, 222);
    padding: 20px;
    font-size: 20px;
    font-variant: small-caps;
    margin:0px;
}

#About{
    margin-bottom: 75px;
}
.us{
    padding-top: 80px;
    text-align: center;
}

.signature img{
    width: 300px;
}

.signature{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.skills{
    background-image: url(../img/skills.jpg);
    background-size: cover;
    object-fit: contain;
    font-family: sans-serif;
    list-style: none;
    padding: 50px;
    margin: 60 px auto;
}

.skills h1{
    padding-top: 50px;
}

.skills li{
    padding-top: 50px;
}

.bar{
    background:grey;
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0, 0,3);
    border-radius: 3px;
    overflow: hidden;
    width: 40%;
}

.bar span{
    height: 2px;
    float: left;
    background:lightseagreen;
}

.uiux{
    width: 75%;
    animation: uiux 2s;
}

.webdevelopment{
    width: 90%;
    animation: webdevelopment 2s;
}

.marketing{
    width: 65%;
    animation: marketing 2s;
}

@keyframes uiux{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}

@keyframes webdevelopment{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes marketing{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}

.icon_with_description {
    height: 250px;
    background-color: lightseagreen;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}
@media (max-width: 768px) {
    .icon_with_description{
        align-content: center;
        flex-flow: wrap;
        flex-direction: column;
    }
    .icon_with_description > div{
        width: 100%;
        text-align: center;
    }
}
#Services{
    box-sizing: border-box;
    position: relative;
    margin-bottom: 75px;
}

.column{
    float: left;
    width: 25%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

#Services img:hover{
     filter: brightness(50%);
}

.overlay1{
    background-color: rgba(0,0,0,0);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.overlay1:hover{
    background-image: url(../img/icons/look.png);
    background-color: rgba(0, 0, 0, 0.5);
}

.loading{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.work_process{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.video-container {
    padding-top: 50px;
	width: 640px;
	border-radius: 4px;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0px 8px 20px rgba(black, 0.4);
    padding-bottom: 50px;
}

.video-wrapper{
	width: 100%;
	height: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
}
	
video {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	}


.play-button-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	pointer-events: none;
}
#circle-play-b {
	cursor: pointer;
	pointer-events: auto;
    }

svg {
	width: 100px;
 	height: 100px;
	fill: #fff;
	stroke: #fff;
	cursor: pointer;
	background-color: rgba(black, 0.2);		
    border-radius: 50%;
	opacity: 0.9;
}


.illustrations{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: lightgray;

}

.illustrations div{
    width: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .illustrations{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .illustrations div{
        width: 100%;
    }
}

.testimonial{
    height: 400px;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    flex-direction: column;
}

.testimonial h2{
    padding-top: 30px;
}

.dots{
    font-size: 50px;
    color: white;
    border-radius: 100%;
    display: inline;
    justify-content: center;
    align-items: center;
}

.second_dot{
    font-size: 75px;
}

.small_dot{
    opacity: 0,7;
}

#logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#logos img{
    padding-bottom: 50px;
    padding-top: 50px;
}

#Contact{
    height: 680px;
    background-color: lightgray;
    background-size: cover;
}

.contact_elements{
    text-align: center;
    padding-top: 50px;
}

#Contact p{
    padding-top: 50px;
}

.input_box{
    display: flex;
    justify-content: center;
}
.inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding-top: 60px;
    width: 600px;
}

.inputs_name_and_email, .input_title, .input_comment, .message_button_wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.message_button_wrapper{
    justify-content: center;
}

.inputs_name_and_email, .input_title, .input_comment{
    width: 100%;
}
.inputs_name_and_email input{
    width: 49%;
}

.input_title input, .input_comment textarea{
    width: 100%;
}



.message_button{
    background-color: lightseagreen;
    color: white;
    padding: 20px;
}

.end_page{
    display: flex;
    background-color:black;
    color: white;
}

.end_page > div{
    padding-left: 50px;
    padding-top: 50px;
    flex-wrap: wrap;
    flex: 1;
    padding-bottom: 50px;
    align-content: center;
    justify-content: center;
}

.information li{
    list-style-type: none;
}

@media (max-width: 768px) {
    .end_page{
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
}