*{
    padding: 0px;
    margin: 0px;
}

header{
    padding: 0;
    height: 600px;
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat center fixed;
    box-sizing: border-box;
    position: relative;
    object-fit: contain;
}

.menu-bar{
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
    flex-wrap: wrap;
}


.menu-bar ul li{
    width: 120px;
    padding:15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: black;
}

.menu-bar ul li a:hover{
    color:blue;
}

.main-text{
    position: absolute;
    top: 50%;
    right: 0;
}

.description{
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-contact_us{
    color: white;
    background-color: rgb(8, 232, 222);
    padding: 20px;
    font-size: 20px;
    font-variant: small-caps;
}

#About{
    margin-bottom: 75px;
}
.us{
    padding-top: 80px;
    text-align: center;
}

.signature img{
    width: 300px;
}

.signature{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.skills{
    background-image: url(../img/skills.jpg);
    background-size: cover;
    object-fit: contain;
    font-family: sans-serif;
    list-style: none;
    padding: 50px;
    margin: 60 px auto;
}

.skills h1{
    padding-top: 50px;
}

.skills li{
    padding-top: 50px;
}

.bar{
    background:grey;
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0, 0,3);
    border-radius: 3px;
    overflow: hidden;
    width: 40%;
}

.bar span{
    height: 2px;
    float: left;
    background:lightseagreen;
}

.uiux{
    width: 75%;
    animation: uiux 2s;
}

.webdevelopment{
    width: 90%;
    animation: webdevelopment 2s;
}

.marketing{
    width: 65%;
    animation: marketing 2s;
}

@keyframes uiux{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}

@keyframes webdevelopment{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes marketing{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}

.icon_with_description {
    height: 200px;
    background-color: lightseagreen;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}

#Services{
    box-sizing: border-box;
    position: relative;
    margin-bottom: 75px;
}

.column{
    float: left;
    width: 25%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

#Services img:hover{
     filter: brightness(50%);
}

.loading{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.work_process{
    text-align: center;
    padding-top: 50px;
}

.video-container{
    width: 640px;
    border-radius: 4px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 8px 20px rgba(black, 0,4);
}

.video-wrapper{
    padding-top: 75px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

video{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.play-button-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    pointer-events: none;
}

#circle-play-b{
    cursor: pointer;
    pointer-events: all;
}

.Play button img{
    width: 100%;
    height: 100%;
    fill: #fff;
    stroke: #fff;
    cursor: pointer;
    background-color: rgba(black, 0,2);
    border-radius: 50%;
    opacity: 0,9;
}

.illustrations{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: lightgray;

}

.illustrations div{
    width: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonial{
    height: 400px;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    flex-direction: column;
}

.testimonial h2{
    padding-top: 30px;
}

.dots{
    font-size: 50px;
    color: white;
    border-radius: 100%;
    display: inline;
    justify-content: center;
    align-items: center;
}

.second_dot{
    font-size: 75px;
}

.small_dot{
    opacity: 0,7;
}

#logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#logos img{
    padding-bottom: 50px;
    padding-top: 50px;
}
